.post-card__image-modal {
  width: 95% !important;
  margin: 0 auto !important
}

.post-card__noimage-modal {
  width: 95% !important;
  max-width: 600px;
  margin: 0 auto !important
}

.post-card__user-avatar {
  display: inline-block !important;
  width: 35px !important;
  height: 35px !important;
  object-fit: cover !important;
  object-position: center center !important;
}

.post-card__link {
  text-decoration: none;
  cursor: pointer;
}

.post-card__link:hover {
  text-decoration: underline;
}