.post__input-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.post__input-group img {
  margin-right: 10px !important;
}

.post__input-group > div {
  flex-grow: 1 !important;
}

.post__image-picker-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto !important;
}

.post__image-picker__header-wrapper {
  width: 100% !important;
}

.post__image-picker__header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.post__image-picker__header span {
  display: inline-block;
  margin-right: 10px;
  flex-grow: 1;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .post__image-picker__header span {
    font-size: 1.2rem;
  }
}

.post__image-picker__close-icon {
  cursor: pointer;
}

.post__image-picker {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
  overflow-y: auto;
}

.post__image-preview {
  display: block;
  width: 100% !important;
  height: 100%;
  max-height: 450px !important;
  object-fit: contain;
  object-position: center center
}