/*-----------------------------*/
/* Columna derecha del modal */
/*-----------------------------*/
.modal__text-column {
  height: 100% !important;
  padding-left: 0 !important;
}

/* Contenedor del contenido de la columna derecha */
.modal__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  height: 75vh !important;
  max-height: 75vh !important;
}

/*
  Flex item 1 de la columna derecha:
  Contenedor del user, texto del post y location
*/
.modal__user {
  flex-grow: 0 !important;
}

.modal__description {
  height: auto;
  max-height: 200px !important;
  font-size: 17px;
  word-spacing: 0.35px;
  white-space: pre-line;
  overflow: auto;
}

/*
  Flex item 2 de la columna derecha: 
  Sección de likes y comentarios (íconos, contadores y lista de comentarios)
*/
.modal__likes-comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1 !important;
}

.modal__comments-list {
  height: 100%;
  margin-bottom: 10px;
  overflow: auto
}

.modal__comment-input {
  margin-top: auto !important;
  width: 100%;
}